body {
  text-align: center;
  background-color: #283149;
  background: url('images/concert.jpg') ;
}

h1 {
  font-size: 5rem;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  font-family: sans-serif;
}

.set {
  margin: 10% auto;
}

.pressed {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #DA0463;

}

.red {
  color: red;
}

 .set{
display: flex;
flex: 1;
min-height: 25vh;
align-items: center;
justify-content: center;
 }

.drum {

  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}
